body {
	background-color: gray;
}

.head {
	display: block;
	-webkit-animation-name: inherit;
	font-weight: 700;
	margin-left: 50px;
	
}

.display {
	display: block;
	margin-top: 568px;
	margin-left: 20px;
	width: 600px
	
}
