body {
	background-color: gray;
}

.head {
	display: block;
	-webkit-animation-name: inherit;
	font-weight: 700;
	margin-left: 50px;
	
}

.display {
	display: block;
	margin-top: 650px;
	margin-left: 320px;
	
}
