.center {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	border-style: outset;
	border-bottom-color: black;
	border-top-color: white;
	border-left-color: white;
	border-right-width: thick;
	background-color: rgba(102,101,98,0.5) 
}

.section {
	font-size: 18px;
}

.indent1 {
	font-style: italic;
	margin-left: 30px;
} 

.indent2 {
	margin-left: 60px;
}
