.name {
	text-shadow: 9px 9px 15px white;
	font-family: Verdana, Geneva, sans-serif;
}

h4 {
	font-size: large;
}

.education {
	background-image: -webkit-linear-gradient(#4545f1 0%, #ffffff 70.2%);
	border-top: 15px dashed black;
	border-bottom: 15px dashed black;
}

.experience {
	background-image: -webkit-linear-gradient(#b04444 0%, #ffffff 100%);
	border-top: 15px dashed black;
	border-bottom: 15px dashed black;
}

.skills {
	background-image: -webkit-linear-gradient(#03ca5d 0%, #f3fff4 97.35%);
	border-top: 15px dashed black;
}

.center {
	text-align: center;
}

.titlebox {
	border-style: outset;
	border-bottom-color: black;
	border-top-color: white;
	border-left-color: white;
	border-right-width: thick;
	background-color: rgba(102,101,98,0.5) 
}

.section {
	font-size: 18px;
}

.indent1 {
	font-style: italic;
	margin-left: 30px;
} 

.indent2 {
	margin-left: 60px;
}

.paragraph {
	background-color: #a9ffff;
	box-shadow: inset 7px 9px 100px 9px #ffffff;
	font-style: italic;
	opacity: 0.6;
}

.bio {
	background-color: #a4ffbe;
}

.display {
	display: block;
	width: 480px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
}



