.nonmobile {
	display: none;
	visibility: hidden;
}

.center {
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

body {
	background-image: url(nodice.jpg);
	background-size: auto;
}



